/*start header*/

.header {
    background-color: white;
    padding: 40px 0;
}

.header .active {
    color: var(--primar-color);
}

.header .bar {
    display: none;
}

.list a {
    color: #0D0E43;
    font-family: var(--main-f-family);
}


@media screen and (max-width:1200px) {

    .list,
    .header .search {
        display: none;
    }

    .header .bar {
        display: block;
    }

}

.search form {
    border: #E7E6EF 2px solid;
    display: flex;
}

.search form input {
    border: none;
    outline: none;
    width: 240px;
    padding-left: 10px;

}

.search form button {
    border: none;
    outline: none;
    background-color: var(--primar-color);
    padding: 6px 13px;
}

/*end header*/


/*start hero*/
.hero {
    background-color: #F2F0FF;
    padding: 40px 0;
    position: relative;
}

.light {
    position: absolute;
    top: 0;
    left: 70px;
}

.text-hero {
    margin-bottom: 50px;
    align-items: flex-start;
    gap: 15px;
    width: 500px;
}

.hero h1 {
    font-weight: 600;
    line-height: 170.5%;
    letter-spacing: 1.5%;
}

.text-hero p {
    font-weight: 700;
    line-height: 28px;
}


@media screen and (max-width:1670px) {
    .light {
        display: none;
    }

    .text-hero {
        margin-left: 0;
    }

    .img-hero img {
        width: 400px;
        height: 689px;

    }

    .text-hero h1 {
        font-size: 38px;
        line-height: 140%;
    }
}

@media screen and (max-width:1200px) {
    .hero .row {
        flex-direction: column;
        text-align: center;
    }

    .text-hero {
        align-items: center;
    }

    .text-hero h1 {
        font-size: 28px;
        line-height: 140%;
    }

    .img-hero img {
        width: 300px;
        height: auto;
    }

}

@media screen and (max-width:776px) {

    .text-hero {
        width: 100%;
    }

}

/*end hero*/

/*start Featured Products*/

.featured-products {
    padding: 130px 0;
}

.featured-products .row {
    justify-content: flex-start;
    gap: 30px;
}

.featured-products .product {
    margin-top: 40px;
    box-shadow: 0px 4px 4px #00000040;
    flex: 1 0 300px;
    border-radius: 4px;
    position: relative;

}

.img-product {
    background-color: #F6F7FB;
    padding: 38px 30px;
    position: relative;

}

.img-product img {
    mix-blend-mode: multiply;
    object-fit: contain;

}

.featured-products h2 {
    color: #1A0B5B;
    font-size: 42px;
    font-family: var(--secondary-f-family);
    font-weight: 900;

}

.b-color {
    width: 14px;
    height: 4px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.color-three {
    background-color: #00009D;
    transition: all 0.6s;
}

.color-one {
    background-color: #05E6B7;

}

.color-two {
    background-color: #F701A8;

}

.span-color {
    color: #151875;
    transition: all 0.6s;
}

.product-details {
    transition: all 0.6s;
}

.product:hover .product-details {
    background-color: #2F1AC4;
    color: white;
}

.product-details h3 {
    transition: all 0.6s;
}

.product:hover .product-details h3 {
    color: white;
}


.product:hover .color-three {
    background-color: #FFEAC1;
}

.product-info span {
    transition: all 0.6s;
}

.product:hover .product-info span {
    color: white;
}

.product:hover .icons {
    opacity: 1;
    z-index: 1;
}

.icons {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0;
    transition: all 0.6s;


}

.icons button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;

}

.view-detaila {
    position: absolute;
    bottom: 10px;
    left: 40%;
    transition: all 0.6s;

    padding: 8px 13px;
    border-radius: 2px;
    border: none;
    outline: none;
    opacity: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    font-family: var(--secondary-f-family);
}

.product:hover .view-detaila {
    opacity: 1;
}

/*end Featured Products*/

/*start Leatest Products*/

.nav-leatest {
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #151875;
    font-size: 18px;
    font-family: var(--main-f-family);
    margin-bottom: 58px;
    padding: 0;
}

.Leatest-Products .row {
    gap: 37px;
    justify-content: space-between;

}

.Leatest-Products .Product {
    height: auto;
    flex: 1 0 calc((100% - 74px) / 3);
    position: relative;

}

.img-product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 296px;

}

.img-product img {
    object-fit: contain;
}

.product-info .old-price {
    text-decoration: line-through #FB2E86 solid;
}

.Leatest-Products .active {
    color: var(--primar-color)
}

/*media screen*/
@media screen and (max-width: 1200px) {
    .nav-leatest {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
    }

}

@media screen and (max-width: 1480px) {
    .Leatest-Products .Product .product-details {
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        text-align: center;
        align-items: center;
    }

}

/*hover*/
.icon-leatest button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;

}

.icon-leatest {
    position: absolute;
    top: 153px;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    opacity: 0;
}

.Product:hover .icon-leatest {
    opacity: 1;
}

.Product:hover .img-product .img-chair {
    border: #000000 1px solid;
}

.img-product .img-chair {
    position: relative;
}

.sale-leatest {
    position: absolute;
    left: 20px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.3s;
}

.Product:hover .sale-leatest {
    opacity: 1;
}

.Product:hover .img-product {
    background-color: white;
}

/*end Leatest Products*/

/* start What Shopex Offer!*/

.offers {
    padding-bottom: 135px;
    padding-top: 75px;
}

.offers .offer {
    width: calc((100% - 90px) / 4);
    background: #fff;
    padding: 45px 26px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    flex: 1 0 270px;
}

.offers h2 {
    font-size: 42px;
    font-weight: 900;
    font-family: var(--secondary-f-family);
    margin-bottom: 55px;
    padding-top: 55px;
}

.offers h3 {
    font-size: 22px;
    font-family: var(--secondary-f-family);
    font-weight: 500;
}

.offer p {
    color: #1A0B5B;
    opacity: 0.3;
    font-size: 16px;
    font-weight: 700;
    line-height: 25.6px;
    width: 217px;
    margin: 0 auto;

}
/*end What Shopex Offer!*/

/*start footer*/

.footer {
    background-color: #EEEFFB;
    padding: 80px 0;

}

.footer .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.footer input::placeholder {
    color: #8A8FB9;
}

.footer .row {
    align-items: flex-start;
}

.right-side a {
    font-family: var(--main-f-family);
    color: #8A8FB9;
    font-size: 16px;
}

.footer .right-side h2 {
    font-family: var(--main-f-family);
    font-size: 22px;

}

@media screen and (max-width:1200px) {

    .footer .right-side,
    .footer .left-side {
        width: 100%;
    }

}

@media screen and (max-width:710px) {

    .footer .footer-item {
        width: 100%;
        text-align: center;

    }

}

@media screen and (max-width:1200px) {

    .footer .right-side h2 {
        margin-top: 20px;

    }
}


/*end footer*/